<div class="row">
    <div class="large-6 large-offset-3 columns">
        <h1 class="text-center"><strong>GOOBER</strong></h1>
        <%= image_tag 'logo.png'  %>
        <h2 class="text-center">Sign Up</h2>
        <%= link_to "Driver", new_driver_path, class: "button left"  %>
        <%= link_to "Rider", new_rider_path, class: "button right"  %>
    </div>
</div>
